params {
    debug = true
    sc2_genomes = "$baseDir/../UpDownSelect_input/sc2_vaccinated.fasta"
    sample_size = 5
    reference_sequence = "$baseDir/resources/NC_045512.2.fasta"
    reference_annotation = "$baseDir/resources/NC_045512.2.gff3_db"
    downsample_size = 5
    codeml_template = "$baseDir/resources/codeml_template.ctl"
    codeml_models = [0, 1, 2, 7, 8]
    ref_id = "NC_045512.2"
}

def sbatchExists = ['which', 'sbatch'].execute().text
profiles {
    local {
        process.executor = 'local'
        process.cpus = 12
        process.memory = '12GB'
    }
    
    slurm {
        process.executor = 'slurm'
        executor.perCpuMemAllocation = true
        process.cpus = 200
        process.memoryPerCpu = '2GB'
    }
}

if (sbatchExists) {
    defaults {
        process.executor = 'slurm'
    }
} else {
    defaults {
        process.executor = 'local'
    }
}


