params {
    input_dir = "/Users/stefanfrank/Projects/PanAdapt/sc2_samples"
    reference_fasta = "/Users/stefanfrank/Projects/data/SC2/NC_045512_2.fasta"
    reference_gff = "/Users/stefanfrank/Projects/data/SC2/NC_045512_2.gff3"
    bakta_db = "/Users/stefanfrank/Projects/PanAdapt/results/download_bakta_db/db-light"
    publish_path = "results"
    ref_id = "NC_045512_2"
    output = 'results'
    publish_dir_mode = 'copy'   
}

profiles {

    local {
        process.executor = 'local'
        process.cpus = 8
        process.memory = '12GB'
        includeConfig 'configs/local.config'
    }

    conda {
        conda.enabled = true 
        includeConfig 'configs/conda.config'   
    }
    
    slurm {
        process.executor = 'slurm'
        executor.queueSize = 100
        executor.perCpuMemAllocation = true
        process.cpus = 100
        process.memoryPerCpu = '2 GB'
        includeConfig 'configs/slurm.config'
    }
}
