params {
    output = 'results'
    publish_dir_mode = 'copy'
    input_genomes = "$baseDir/input/input_fasta/all_months_vaccinated_all_variants.fasta"
    reference_fasta = "$baseDir/resources/NC_045512.2.fasta"
    reference_gff = "$baseDir/resources/NC_045512.2.gff3_db"
    parnas_threshold = 25
    codeml_template = "$baseDir/resources/codeml_template.ctl"
    codeml_models = [0, 1, 2, 7, 8]
    ref_id = "NC_045512.2"
}

def sbatchExists = ['which', 'sbatch'].execute().text
profiles {
    local {
        process.executor = 'local'
        process.cpus = 12
        process.memory = '12GB'
    }
    
    slurm {
        process.executor = 'slurm'
        executor.perCpuMemAllocation = true
        process.cpus = 200
        process.memoryPerCpu = '2GB'
    }
}

if (sbatchExists) {
    defaults {
        process.executor = 'slurm'
    }
} else {
    defaults {
        process.executor = 'local'
    }
}


