process {
    withLabel: seqkit {conda = "$baseDir/envs/seqkit.yml"}
    withLabel: liftoff {conda = "$baseDir/envs/liftoff.yml"}
    withLabel: python {conda = "$baseDir/envs/python.yml"}
    withLabel: ppanggolin {conda = "$baseDir/envs/ppanggolin.yml"}
    withLabel: translate_gene_families {conda = "$baseDir/envs/emboss.yml"}
    withLabel: mafft {conda = "$baseDir/envs/mafft.yml"}
    withLabel: pal2nal {conda = "$baseDir/envs/pal2nal.yml"}
    withLabel: fasttree {conda = "$baseDir/envs/fasttree.yml"}
    withLabel: hyphy {conda = "$baseDir/envs/hyphy.yml"}
    withLabel: bakta {conda = "$baseDir/envs/bakta.yml"}
}