process {
    withLabel: seqkit {cpus = 1}
    withLabel: liftoff {cpus = 1}
    withLabel: python {cpus = 1}
    withLabel: ppanggolin {cpus = 8}
    withLabel: translate_gene_families {cpus = 1}
    withLabel: mafft {cpus = 8} 
    withLabel: pal2nal {cpus = 1}
    withLabel: fasttree {cpus = 1} 
    withLabel: hyphy {cpus = 4}
    withLabel: bakta {cpus = 4}
    withLabel: ppanggolin_v2 {cpus = 8} 
}