process {
    withLabel: seqkit_split {cpus = 1}
    withLabel: liftoff {cpus = 1}
    withLabel: python {cpus = 1}
    withLabel: ppanggolin {cpus = 12}
    withLabel: translate_gene_families {cpus = 1}
    withLabel: mafft {cpus = 12} 
    withLabel: pal2nal {cpus = 1}
    withLabel: fasttree {cpus = 1} 
    withLabel: hyphy {cpus = 4} 
}