process {
    withLabel: seqkit {cpus = 1; memory = 2}
    withLabel: liftoff {cpus = 1; memory = 2}
    withLabel: python {cpus = 1; memory = 2}
    withLabel: ppanggolin {cpus = 12; memory = 24}
    withLabel: translate_gene_families {cpus = 1; memory = 2}
    withLabel: mafft {cpus = 12; memory = 24} 
    withLabel: pal2nal {cpus = 1; memory = 2}
    withLabel: fasttree {cpus = 1; memory = 2} 
    withLabel: hyphy {cpus = 4; memory = 8}
    withLabel: bakta {cpus = 4; memory = 8}
    withLabel: ppanggolin_v2 {cpus = 12; memory = 24} 
}