process {
    withLabel: seqkit {cpus = 1; memory = 2.GB}
    withLabel: liftoff {cpus = 1; memory = 2.GB}
    withLabel: python {cpus = 1; memory = 2.GB}
    withLabel: ppanggolin {cpus = 12; memory = 24.GB}
    withLabel: translate_gene_families {cpus = 1; memory = 2.GB}
    withLabel: mafft {cpus = 12; memory = 24.GB} 
    withLabel: pal2nal {cpus = 1; memory = 2.GB}
    withLabel: fasttree {cpus = 1; memory = 2.GB} 
    withLabel: hyphy {cpus = 4; memory = 8.GB}
    withLabel: bakta {cpus = 4; memory = 8.GB}
}